.container {
    width: 1280px;
    margin: 0 auto;
    font-family: arial;
}

.main-header {
    padding: 50px;
    width: 100%;
    background-image: url(../img/header-bg.jpg);
    box-sizing: border-box;
}

.main-header:after {
    content: "";
    display: block;
    width: 100px;
    clear: both;
}

.main-header-wrapper {
    float: left;
}

.main-header h1 {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 60px;
    font-weight: 400;
    margin: 0 0 51px 0;
}

.main-header-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.main-header-list li {
    padding: 0 0 0 33px;
    position: relative;
}

.main-header-list li:before {
    content: "";
    /*display: block;*/
    position: absolute;
    top: 8px;
    left: 0px;
    width: 25px;
    height: 19px;
    background-image: url(../img/check_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-header-shape {
    width: 469px;
    min-height: 214px;
    background-image: url(img/header-shape.jpg);
    float: right;
}

.about-product {
    width: 100%;
    background-image: url(../img/bg.png);
    padding: 50px;
    box-sizing: border-box;
}

.about-product:after {
    content: "";
    display: block;
    width: 100px;
    clear: both;
}

.about-product-wrapper {
    width: 649px;
    float: left;
}

.about-product-wrapper h2 {
    margin: 0 0 30px 0;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.about-product-wrapper p {
    text-align: justify;
    color: #445161;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about-product video {
    width: 430px;
    height: 245px;
    float: right;
}
.screenshots {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff;
}

.screenshots-items {
    list-style-type: none;
    width: 574px;
    margin: 0;
    padding: 0;
}
.screenshots-box {
    margin: 0 auto;
    padding: 0;
}
/*
.screenshots-box-text {
    width: 359px;
}
*/
.screenshots-items li:after {
    content: "";
    display: block;
    width: 100px;
    clear: both;
}
.screenshots-box-img{
    float: left;
    outline: 2px solid black;
    margin:  0 15px 0 0;
}


.review {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.review:after {
    content: "";
    display: block;
    clear: both;
}

.review-caption {
    display: block;
    margin: 0 0 35px 0;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.review-box {
    width: 574px;
    min-height: 75px;
    float: left;
    margin: 0 16px 24px 0;


}

.review-box-img {
    min-width: 75px;
    min-height: 75px;
    border-radius: 50px;
    background-image: url("../img/face-1.jpg");
    background-size: cover;
    border: 1px solid black;
    float: left;
    margin: 0 20px 0 0;
}

.two {
    background-image: url("../img/face-2.jpg");
}

.three {
    background-image: url("../img/face-3.jpg");
}

.four {
    background-image: url("../img/face-4.jpg");
}

.review-box-content {
    width: 483px;
    background-color: #ebebeb;
    margin: 0px 0px 0px 100px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px;
    position: relative;
}

.review-box-content:before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 70px;
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
}


.review-box-text {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
}

.review-box-text-autor {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
}

.buy {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    outline: 2px solid black;
    background-image: url(../img/bg-buy-it.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.buy-title {
    width: 100%;
    display: block;
    margin: 0 0 30px 0;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.buy-box {
    width: 300px;
    background-color: #445162;
    border-radius: 5px;
    /*outline: 2px solid #445162;*/
    color: white;
    margin: 0 20px 0 20px;
}

.buy-box:nth-child(2) {
    margin-left: 0;
}

.buy-box:nth-child(4) {
    margin-right: 0;
}


.buy-box-caption {
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 17px;
    box-sizing: border-box;
}

.buy-box-caption:first-letter {
    text-transform: uppercase;
}

.buy-box-price {
    display: block;
    width: 98%;
    background-color: white;
    color: #445162;
    text-align: center;
    padding: 18px;
    font-size: 35px;
    box-sizing: border-box;
    outline: 1px solid #445162;
    margin: 0 auto;
}

.buy-box-list {
    margin: 0px;
    padding: 20px;
    list-style-position: inside;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.buy-box-btn {
    display: block;
    width: 260px;
    background-color: white;
    font-size: 18px;
    padding: 14px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    color: #445161;
    font-weight: 700;
    line-height: 18px;
    margin: 0px auto 20px auto;
    outline: none;
}

.buy-box-btn:hover {
    background-color: burlywood;
}

.buy-box-btn:active {
    color: white;
}
